body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover{
	text-decoration: underline;
}

main {
    padding: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: -400px;
}
.footer-container {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container .legal-links {
    margin-top: 10px;
}

.footer-container .legal-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.footer-container .legal-links a:hover {
    text-decoration: underline;
}
